div(class='container')
  ul(class="tab tab-block")
    li(class=title=='masterize' ? "tab-item active" : 'tab-item')
      a(href="/masterize") Masterize
    li(class=title=='dashboard' ? "tab-item active" : 'tab-item')
      a(href="/dashboard") Services
    li(class=title=='checkup' ? "tab-item active" : 'tab-item')
      a(href="/checkup") Checkup
    li(class=title=='dmx_tests' ? "tab-item active" : 'tab-item')
      a(href="/dmx",class="") DMX
